Repository EduGoGroup/edugo-api-mobile: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, dockerfile-lint

.pre-commit-config.yaml:

# Pre-commit hooks para edugo-api-mobile
# Instalación: pip install pre-commit && pre-commit install
# Ejecución manual: pre-commit run --all-files
# Desactivar: git config core.hooksPath .git/hooks

repos:
  # Validaciones generales de archivos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Prevenir commits a main/dev directamente
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'dev']

      # Remover espacios en blanco al final de líneas
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']

      # Asegurar que archivos terminan con salto de línea
      - id: end-of-file-fixer

      # Prevenir archivos grandes (>500KB)
      - id: check-added-large-files
        args: ['--maxkb=500']

      # Validar sintaxis YAML
      - id: check-yaml
        args: ['--unsafe']  # Permite templates de GitHub Actions

      # Validar sintaxis JSON
      - id: check-json

      # Detectar merge conflict markers
      - id: check-merge-conflict

      # Prevenir commits de claves privadas
      - id: detect-private-key

  # Validaciones específicas de Go
  - repo: local
    hooks:
      # go fmt - Formateo automático de código
      - id: go-fmt
        name: go fmt
        entry: bash -c 'gofmt -w -s .'
        language: system
        files: \.go$
        pass_filenames: false

      # go vet - Análisis estático de errores comunes
      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      # go mod tidy - Limpiar dependencias
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy'
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      # golangci-lint - Linting completo (opcional, puede ser lento)
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'golangci-lint run --fast'
        language: system
        files: \.go$
        pass_filenames: false
        # Opcional: comentar si es muy lento
        # stages: [manual]

  # Validaciones de archivos de configuración
  - repo: local
    hooks:
      # Validar archivos Dockerfile
      - id: dockerfile-lint
        name: dockerfile lint
        entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "⚠️  hadolint not installed, skipping"; fi'
        language: system
        files: ^Dockerfile$
        pass_filenames: false

# Configuración global
default_language_version:
  python: python3

# Omitir archivos/directorios
exclude: |
  (?x)^(
      vendor/|
      docs/swagger/.*\.json$|
      \.git/|
      \.idea/|
      coverage/
  )$

# Ejecutar en paralelo para mayor velocidad
fail_fast: false

feat(mongodb): homologar colecciones assessment y summary (#96)
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository.go
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository_integration_test.go
  internal/infrastructure/persistence/mongodb/repository/summary_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

feat(materials): agregar endpoint PUT para actualizar materiales
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/application/dto/material_dto.go
  internal/application/service/material_service.go
  internal/infrastructure/http/handler/material_handler.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

fix: corregir nombre colección MongoDB material_summary → material_summaries
  internal/infrastructure/persistence/mongodb/repository/summary_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

fix: corregir nombre colección MongoDB material_summary → material_summaries (#100)
  internal/infrastructure/persistence/mongodb/repository/summary_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

release: Merge dev → main (#101)
  internal/infrastructure/persistence/mongodb/repository/summary_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

chore(deps): estandarizar GitHub Actions a últimas versiones
  .github/workflows/manual-release.yml
  .github/workflows/pr-to-dev.yml
  .github/workflows/pr-to-main.yml
  .github/workflows/sync-main-to-dev.yml
  .github/workflows/test.yml
Due: none

chore(deps): estandarizar GitHub Actions a últimas versiones (#102)
  .github/workflows/manual-release.yml
  .github/workflows/pr-to-dev.yml
  .github/workflows/pr-to-main.yml
  .github/workflows/sync-main-to-dev.yml
  .github/workflows/test.yml
Due: none

update (#103)
  .github/workflows/manual-release.yml
  .github/workflows/pr-to-dev.yml
  .github/workflows/pr-to-main.yml
  .github/workflows/sync-main-to-dev.yml
  .github/workflows/test.yml
Due: none

fix: actualizar dependencias y eliminar EmailVerified
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/infrastructure/persistence/mock/dataset/users_loader.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

fix: actualizar edugo-shared/auth v0.10.0 → v0.11.0
  go.mod
  go.sum
Due: go-mod-tidy

feat: autorización con permisos RBAC
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/auth_test.go
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/middleware/remote_auth_test.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

chore: actualizar dependencias RBAC y adaptar código
  go.mod
  go.sum
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/auth_test.go
  internal/infrastructure/http/middleware/remote_auth_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

test: agregar tests para helpers de auth y RBAC
  internal/infrastructure/http/middleware/auth_helpers_test.go
  internal/infrastructure/http/middleware/rbac_helpers_test.go
Due: go-fmt, go-vet, golangci-lint

test: agregar tests para summary service y logger adapter
  internal/application/service/summary_service_test.go
  internal/bootstrap/adapter/logger_test.go
Due: go-fmt, go-vet, golangci-lint

refactor: eliminar todo el código deprecado de RBAC migration
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/infrastructure/http/handler/testing_helpers.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/auth_helpers_test.go
  internal/infrastructure/http/middleware/rbac_helpers_test.go
  internal/infrastructure/http/middleware/remote_auth.go
Due: go-fmt, go-vet, golangci-lint

Actualiza edugo-infrastructure/postgres a v0.16.5
  go.mod
  go.sum
  internal/infrastructure/http/middleware/remote_auth.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Feature/rbac api mobile (#104)
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/application/service/summary_service_test.go
  internal/bootstrap/adapter/logger_test.go
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/handler/testing_helpers.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/auth_helpers_test.go
  internal/infrastructure/http/middleware/auth_test.go
  internal/infrastructure/http/middleware/rbac_helpers_test.go
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/middleware/remote_auth_test.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Manejo de roles (#105)
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/application/service/summary_service_test.go
  internal/bootstrap/adapter/logger_test.go
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/handler/testing_helpers.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/auth_helpers_test.go
  internal/infrastructure/http/middleware/auth_test.go
  internal/infrastructure/http/middleware/rbac_helpers_test.go
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/middleware/remote_auth_test.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat: agregar soporte de pantallas dinámicas (Dynamic UI Fase 1)
  .pre-commit-config.yaml
  Makefile
  documents/SETUP.md
  go.mod
  go.sum
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_test.go
  internal/container/factory.go
  internal/container/handlers.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repository/screen_repository.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/http/handler/screen_handler_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/persistence/mock/postgres/screen_repository_mock.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
  internal/infrastructure/persistence/postgres/repository/common_integration_test.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/screen_repository.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl_test.go
  internal/testing/suite/integration_suite.go
  internal/testing/suite/integration_suite_test.go
  test/CONTROL_INTEGRATION_TESTS.md
  test/integration/assessment_flow_test.go
  test/integration/assessment_security_test.go
  test/integration/remote_auth_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

fix: corregir permiso de endpoint PUT /screens/:screenKey/preferences
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

Elimina campo Role de usuarios mock y repositorio Postgres
  internal/infrastructure/persistence/mock/dataset/users_loader.go
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

docs: consolidar análisis de PR #106 en documento único
  PR_106_TECH_DEBT.md
Due: none

Permitir MongoDB opcional y fallback a mocks si no está disponible
  config/config.yaml
  internal/bootstrap/bridge.go
  internal/config/config.go
  internal/config/loader.go
  internal/container/factory.go
Due: go-fmt, go-vet, golangci-lint

feat: agregar soporte de pantallas dinámicas (Dynamic UI Fase 1) (#106)
  .pre-commit-config.yaml
  Makefile
  PR_106_TECH_DEBT.md
  config/config.yaml
  documents/SETUP.md
  go.mod
  go.sum
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_test.go
  internal/bootstrap/bridge.go
  internal/config/config.go
  internal/config/loader.go
  internal/container/factory.go
  internal/container/handlers.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repository/screen_repository.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/http/handler/screen_handler_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/mock/postgres/screen_repository_mock.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
  internal/infrastructure/persistence/postgres/repository/common_integration_test.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/screen_repository.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl_test.go
  internal/testing/suite/integration_suite.go
  internal/testing/suite/integration_suite_test.go
  test/CONTROL_INTEGRATION_TESTS.md
  test/integration/assessment_flow_test.go
  test/integration/assessment_security_test.go
  test/integration/remote_auth_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Pantalla dinamica (#107)
  .pre-commit-config.yaml
  Makefile
  PR_106_TECH_DEBT.md
  config/config.yaml
  documents/SETUP.md
  go.mod
  go.sum
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_test.go
  internal/bootstrap/bridge.go
  internal/config/config.go
  internal/config/loader.go
  internal/container/factory.go
  internal/container/handlers.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repository/screen_repository.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/http/handler/screen_handler_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/mock/postgres/screen_repository_mock.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
  internal/infrastructure/persistence/postgres/repository/common_integration_test.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/screen_repository.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/user_repository_impl_test.go
  internal/testing/suite/integration_suite.go
  internal/testing/suite/integration_suite_test.go
  test/CONTROL_INTEGRATION_TESTS.md
  test/integration/assessment_flow_test.go
  test/integration/assessment_security_test.go
  test/integration/remote_auth_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Create config-development.yaml
  config/config-development.yaml
Due: none

feat: dynamic RBAC navigation and handler_key in screen responses
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/application/service/screen_service_test.go
  internal/container/factory.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repository/resource_repository.go
  internal/domain/repository/screen_repository.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/http/handler/screen_handler_test.go
  internal/infrastructure/persistence/mock/postgres/resource_reader_mock.go
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
  internal/infrastructure/persistence/postgres/repository/screen_repository.go
Due: go-fmt, go-vet, golangci-lint

Refactor manejo de errores en navegación y ajusta orden en menú
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
Due: go-fmt, go-vet, golangci-lint

fix: update lifecycle to v0.10.1 (nil logger panic fix)
  go.mod
  go.sum
Due: go-mod-tidy

chore: actualizar dependencias edugo-shared e infraestructura a v0.50.0
  go.mod
  go.sum
Due: go-mod-tidy

Agrega dependencia edugo-shared/screenconfig y usa fallback de plataforma
  go.mod
  go.sum
  internal/application/service/screen_service.go
  internal/infrastructure/http/handler/screen_handler.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Renombrar tabla material_progress a progress en repositorio y tests
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
  internal/testing/suite/integration_suite.go
  test/integration/testhelpers.go
Due: go-fmt, go-vet, golangci-lint

Fix redi (#110)
  go.mod
  go.sum
  internal/application/service/screen_service.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
  internal/testing/suite/integration_suite.go
  test/integration/testhelpers.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint
