Repository EduGoGroup/edugo-api-mobile: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, dockerfile-lint

go-fmt:
  name: go fmt
  entry: bash -c 'gofmt -w -s .'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'golangci-lint run --fast'
  language: system
  pass_filenames: false

dockerfile-lint:
  name: dockerfile lint
  entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "⚠️  hadolint not installed, skipping"; fi'
  language: system
  pass_filenames: false

feat: agregar pipeline de deploy on-demand a Azure Container Apps
  .github/workflows/deploy-to-azure.yml
Due: none

fix: agregar credenciales GHCR para que Container Apps pueda hacer pull
  .github/workflows/deploy-to-azure.yml
Due: none

fix: agregar variables RabbitMQ y S3 requeridas por el bootstrap de api-mobile
  .github/workflows/deploy-to-azure.yml
Due: none

fix: usar GHCR_TOKEN persistente para registry credentials
  .github/workflows/deploy-to-azure.yml
Due: none

refactor: usar screenconfig v0.52.0 del shared para slots, overrides y permisos
  go.mod
  go.sum
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/application/service/screen_service_test.go
  internal/infrastructure/http/handler/screen_handler_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

fix: traducir comentarios a español y agregar tests de split bottomNav/drawer
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service_navigation_test.go
Due: go-fmt, go-vet, golangci-lint

refactor: usar screenconfig v0.52.0 shared para eliminar logica duplicada (#111)
  go.mod
  go.sum
  internal/application/dto/screen_dto.go
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/application/service/screen_service_test.go
  internal/infrastructure/http/handler/screen_handler_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

fix: remove auth schema prefix from resources query
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
Due: go-fmt, go-vet, golangci-lint

fix: improve navigation filtering to include parent resources
  internal/application/service/screen_service.go
Due: go-fmt, go-vet, golangci-lint

fix: use active_context from RemoteAuthMiddleware for navigation permissions
  internal/infrastructure/http/handler/screen_handler.go
Due: go-fmt, go-vet, golangci-lint

chore: actualizar edugo-infrastructure/postgres a v0.51.0
  go.mod
  go.sum
Due: go-mod-tidy

Chore: eliminar referencias a versión antigua de postgres
  go.sum
Due: go-mod-tidy

Fix/navigation schema (#113)
  go.mod
  go.sum
  internal/application/service/screen_service.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Corrige inclusión jerárquica de recursos en navegación y test
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
Due: go-fmt, go-vet, golangci-lint

navigation (#114)
  go.mod
  go.sum
  internal/application/service/screen_service.go
  internal/application/service/screen_service_navigation_test.go
  internal/infrastructure/http/handler/screen_handler.go
  internal/infrastructure/persistence/postgres/repository/resource_repository.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  go-vet: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  go-mod-tidy: any of: ^go\.(mod|sum)$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  golangci-lint: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  dockerfile-lint: any of: ^Dockerfile$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

