Repository EduGoGroup/edugo-api-mobile: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, dockerfile-lint

.pre-commit-config.yaml:

# Pre-commit hooks para edugo-api-mobile
# Instalación: pip install pre-commit && pre-commit install
# Ejecución manual: pre-commit run --all-files
# Desactivar: git config core.hooksPath .git/hooks

repos:
  # Validaciones generales de archivos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Prevenir commits a main/dev directamente
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'dev']

      # Remover espacios en blanco al final de líneas
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']

      # Asegurar que archivos terminan con salto de línea
      - id: end-of-file-fixer

      # Prevenir archivos grandes (>500KB)
      - id: check-added-large-files
        args: ['--maxkb=500']

      # Validar sintaxis YAML
      - id: check-yaml
        args: ['--unsafe']  # Permite templates de GitHub Actions

      # Validar sintaxis JSON
      - id: check-json

      # Detectar merge conflict markers
      - id: check-merge-conflict

      # Prevenir commits de claves privadas
      - id: detect-private-key

  # Validaciones específicas de Go
  - repo: local
    hooks:
      # go fmt - Formateo automático de código
      - id: go-fmt
        name: go fmt
        entry: bash -c 'gofmt -w -s .'
        language: system
        files: \.go$
        pass_filenames: false

      # go vet - Análisis estático de errores comunes
      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      # go mod tidy - Limpiar dependencias
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy'
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      # golangci-lint - Linting completo (opcional, puede ser lento)
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'golangci-lint run --fast'
        language: system
        files: \.go$
        pass_filenames: false
        # Opcional: comentar si es muy lento
        # stages: [manual]

  # Validaciones de archivos de configuración
  - repo: local
    hooks:
      # Validar archivos Dockerfile
      - id: dockerfile-lint
        name: dockerfile lint
        entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "⚠️  hadolint not installed, skipping"; fi'
        language: system
        files: ^Dockerfile$
        pass_filenames: false

# Configuración global
default_language_version:
  python: python3

# Omitir archivos/directorios
exclude: |
  (?x)^(
      vendor/|
      docs/swagger/.*\.json$|
      \.git/|
      \.idea/|
      coverage/
  )$

# Ejecutar en paralelo para mayor velocidad
fail_fast: false

feat(sprint-entities): Fase 1 - Crear domain services y stubs de infrastructure
  docs/cicd/sprints/SPRINT-ENTITIES-PHASE1-REPORT.md
  internal/domain/services/assessment_domain_service.go
  internal/domain/services/attempt_domain_service.go
  internal/domain/services/material_domain_service.go
  internal/domain/services/progress_domain_service.go
  internal/infrastructure_stubs/README.md
  internal/infrastructure_stubs/postgres/entities/assessment.go
  internal/infrastructure_stubs/postgres/entities/assessment_answer.go
  internal/infrastructure_stubs/postgres/entities/assessment_attempt.go
  internal/infrastructure_stubs/postgres/entities/material.go
  internal/infrastructure_stubs/postgres/entities/material_version.go
  internal/infrastructure_stubs/postgres/entities/progress.go
  internal/infrastructure_stubs/postgres/entities/user.go
Due: go-fmt, go-vet, golangci-lint

refactor(sprint-entities): Corregir terminología y re-analizar etapas
  docs/cicd/sprints/SPRINT-ENTITIES-ADAPTATION.md
  docs/cicd/sprints/SPRINT-ENTITIES-EJECUCION-PARCIAL.md
  docs/cicd/sprints/SPRINT-ENTITIES-PHASE1-REPORT.md
Due: none

refactor(linter): Corregir warnings de golangci-lint
  internal/application/service/progress_service.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

fix(tests): Corregir mocks de material_service_test
  internal/application/service/material_service_test.go
  internal/application/service/progress_service_test.go
Due: go-fmt, go-vet, golangci-lint

fix(tests): Corregir todos los tests para que pasen
  internal/application/service/auth_service_test.go
  internal/application/service/material_service_test.go
  internal/application/service/progress_service_test.go
Due: go-fmt, go-vet, golangci-lint

fix(pre-commit): Eliminar flag --fast de golangci-lint
  .pre-commit-config.yaml
Due: none

fix(lint): Corregir todos los warnings de golangci-lint
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/progress_repository_impl_test.go
Due: go-fmt, go-vet, golangci-lint

fix(ci): Deshabilitar tests de integración y corregir issues de Copilot
  .github/workflows/pr-to-main.yml
  internal/infrastructure/persistence/postgres/repository/answer_repository_integration_test.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository_test.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

fix(ci): Deshabilitar tests de integración y corregir issues (#72)
  .github/workflows/pr-to-main.yml
  internal/infrastructure/persistence/postgres/repository/answer_repository_integration_test.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository_test.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

chore: actualizar infraestructura a v0.10.1
  go.mod
  go.sum
Due: go-mod-tidy

feat(auth): implementar GET /v1/auth/me endpoint
  internal/application/service/auth_service.go
  internal/infrastructure/http/handler/auth_handler.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

docs: inventariar archivos de auth a eliminar
  docs/auth-files-inventory.md
Due: none

refactor(auth): eliminar código de autenticación duplicado
  .backup/auth-code/auth_dto.go
  .backup/auth-code/auth_flow_test.go
  .backup/auth-code/auth_handler.go
  .backup/auth-code/auth_handler_test.go
  .backup/auth-code/auth_service.go
  .backup/auth-code/auth_service_test.go
  config/config-local.yaml
  docs/swagger.json
  docs/swagger.yaml
  internal/container/handlers.go
  internal/container/services.go
  internal/infrastructure/http/handler/benchmarks_test.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/router/router.go
  postman/postman.json
  tests-baseline.txt
Due: go-fmt, go-vet, golangci-lint

feat(client): implementar AuthClient para validación remota de tokens
  go.mod
  go.sum
  internal/client/auth_client.go
  internal/client/auth_client_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat(middleware): implementar RemoteAuthMiddleware para validación centralizada
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/middleware/remote_auth_test.go
Due: go-fmt, go-vet, golangci-lint

feat(auth): integrar RemoteAuthMiddleware y configuración api-admin
  config/config-local.yaml
  internal/bootstrap/bridge.go
  internal/bootstrap/interfaces.go
  internal/config/config.go
  internal/container/container.go
  internal/container/infrastructure.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

test(integration): agregar tests de integración para autenticación remota
  test/integration/remote_auth_test.go
Due: go-fmt, go-vet, golangci-lint

release: merge dev to main - Auth centralizada Sprint 3
  .backup/auth-code/auth_dto.go
  .backup/auth-code/auth_flow_test.go
  .backup/auth-code/auth_handler.go
  .backup/auth-code/auth_handler_test.go
  .backup/auth-code/auth_service.go
  .backup/auth-code/auth_service_test.go
  config/config-local.yaml
  docs/auth-files-inventory.md
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/bootstrap/bridge.go
  internal/bootstrap/interfaces.go
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/config/config.go
  internal/container/container.go
  internal/container/handlers.go
  internal/container/infrastructure.go
  internal/container/services.go
  internal/infrastructure/http/handler/benchmarks_test.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/middleware/remote_auth_test.go
  internal/infrastructure/http/router/router.go
  postman/postman.json
  test/integration/remote_auth_test.go
  tests-baseline.txt
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat(mock): agregar infraestructura base para repositorios mock
  config/config-local.yaml
  config/config.yaml
  internal/bootstrap/bootstrap.go
  internal/bootstrap/bridge.go
  internal/bootstrap/interfaces.go
  internal/config/config.go
  internal/infrastructure/persistence/mock/README.md
Due: go-fmt, go-vet, golangci-lint

feat: implementar sistema de repositorios mock para desarrollo frontend
  internal/container/container.go
  internal/container/factory.go
  internal/container/repositories.go
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/mock/mongodb/stubs.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
  internal/infrastructure/persistence/mock/postgres/user_repository_mock.go
Due: go-fmt, go-vet, golangci-lint

fix: corregir soporte de modo mock en bootstrap y health handler
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/bootstrap/bootstrap.go
  internal/infrastructure/http/handler/health_handler.go
Due: go-fmt, go-vet, golangci-lint

feat: agregar mock publisher para RabbitMQ
  internal/bootstrap/bootstrap.go
  internal/infrastructure/messaging/mock/publisher.go
Due: go-fmt, go-vet, golangci-lint

fix: aplicar correcciones de PR review (Copilot)
  internal/container/factory.go
  internal/infrastructure/persistence/mock/README.md
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/mock/postgres/user_repository_mock.go
Due: go-fmt, go-vet, golangci-lint

feat: Sistema de repositorios mock para desarrollo sin Docker (#78)
  config/config-local.yaml
  config/config.yaml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/bootstrap/bootstrap.go
  internal/bootstrap/bridge.go
  internal/bootstrap/interfaces.go
  internal/config/config.go
  internal/container/container.go
  internal/container/factory.go
  internal/container/repositories.go
  internal/infrastructure/http/handler/health_handler.go
  internal/infrastructure/messaging/mock/publisher.go
  internal/infrastructure/persistence/mock/README.md
  internal/infrastructure/persistence/mock/fixtures/users.go
  internal/infrastructure/persistence/mock/mongodb/stubs.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
  internal/infrastructure/persistence/mock/postgres/user_repository_mock.go
Due: go-fmt, go-vet, golangci-lint

feat: implementar mock repositories funcionales para Material y Progress
  internal/infrastructure/persistence/mock/fixtures/materials.go
  internal/infrastructure/persistence/mock/fixtures/progress.go
  internal/infrastructure/persistence/mock/postgres/material_repository_mock.go
  internal/infrastructure/persistence/mock/postgres/progress_repository_mock.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
Due: go-fmt, go-vet, golangci-lint

feat: implementar mock repositories funcionales para Material y Progress (#80)
  internal/infrastructure/persistence/mock/fixtures/materials.go
  internal/infrastructure/persistence/mock/fixtures/progress.go
  internal/infrastructure/persistence/mock/postgres/material_repository_mock.go
  internal/infrastructure/persistence/mock/postgres/progress_repository_mock.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
Due: go-fmt, go-vet, golangci-lint

feat(tools): agregar generate_dataset y dataset generado
  go.mod
  go.sum
  internal/infrastructure/persistence/mock/dataset/academic_units_loader.go
  internal/infrastructure/persistence/mock/dataset/academic_units_table.go
  internal/infrastructure/persistence/mock/dataset/database.go
  internal/infrastructure/persistence/mock/dataset/helpers.go
  internal/infrastructure/persistence/mock/dataset/load_all.go
  internal/infrastructure/persistence/mock/dataset/materials_loader.go
  internal/infrastructure/persistence/mock/dataset/materials_table.go
  internal/infrastructure/persistence/mock/dataset/memberships_loader.go
  internal/infrastructure/persistence/mock/dataset/memberships_table.go
  internal/infrastructure/persistence/mock/dataset/schools_loader.go
  internal/infrastructure/persistence/mock/dataset/schools_table.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
  internal/infrastructure/persistence/mock/dataset/users_table.go
  tools/generate_dataset/main.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat(tools): agregar herramienta generate_dataset y dataset (#81)
  go.mod
  go.sum
  internal/infrastructure/persistence/mock/dataset/academic_units_loader.go
  internal/infrastructure/persistence/mock/dataset/academic_units_table.go
  internal/infrastructure/persistence/mock/dataset/database.go
  internal/infrastructure/persistence/mock/dataset/helpers.go
  internal/infrastructure/persistence/mock/dataset/load_all.go
  internal/infrastructure/persistence/mock/dataset/materials_loader.go
  internal/infrastructure/persistence/mock/dataset/materials_table.go
  internal/infrastructure/persistence/mock/dataset/memberships_loader.go
  internal/infrastructure/persistence/mock/dataset/memberships_table.go
  internal/infrastructure/persistence/mock/dataset/schools_loader.go
  internal/infrastructure/persistence/mock/dataset/schools_table.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
  internal/infrastructure/persistence/mock/dataset/users_table.go
  tools/generate_dataset/main.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

fix: agregar BindEnv y estandarizar USE_MOCK_REPOSITORIES
  internal/config/loader.go
Due: go-fmt, go-vet, golangci-lint

fix: agregar IsActive, EmailVerified y PasswordHash válido a users_loader.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
Due: go-fmt, go-vet, golangci-lint

fix: homologar configuración USE_MOCK_REPOSITORIES y users_loader (#82)
  internal/config/loader.go
  internal/infrastructure/persistence/mock/dataset/users_loader.go
Due: go-fmt, go-vet, golangci-lint

feat(auth): implementar validación local de JWT
  config/config.yaml
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/container/infrastructure.go
  internal/infrastructure/http/middleware/remote_auth_test.go
Due: go-fmt, go-vet, golangci-lint

feat(auth): Implementar validación local de JWT (#84)
  config/config.yaml
  internal/client/auth_client.go
  internal/client/auth_client_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/container/infrastructure.go
  internal/infrastructure/http/middleware/remote_auth_test.go
Due: go-fmt, go-vet, golangci-lint

refactor(docker): eliminar entrypoint y unificar con estándar api-admin
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/wait-for.sh
Due: dockerfile-lint

refactor(docker): eliminar entrypoint y unificar con estándar api-admin (#86)
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/wait-for.sh
Due: dockerfile-lint

docs: agregar documentación técnica completa del proyecto
  documents/API-REFERENCE.md
  documents/ARCHITECTURE.md
  documents/DATABASE.md
  documents/FLOWS.md
  documents/README.md
  documents/SETUP.md
  documents/improvements/DEPRECATED-CODE.md
  documents/improvements/LEGACY-ENDPOINTS.md
  documents/improvements/README.md
  documents/improvements/REFACTORING-OPPORTUNITIES.md
  documents/improvements/TECHNICAL-DEBT.md
  documents/improvements/TODO-ITEMS.md
  internal/application/.gitkeep
  internal/application/usecase/.gitkeep
  internal/infrastructure/http/request/.gitkeep
  internal/infrastructure/http/response/.gitkeep
  internal/infrastructure/messaging/.gitkeep
  internal/infrastructure/messaging/publisher/.gitkeep
  internal/infrastructure/persistence/.gitkeep
  internal/infrastructure/persistence/mongodb/.gitkeep
  internal/infrastructure/persistence/mongodb/mapper/.gitkeep
  internal/infrastructure/persistence/postgres/.gitkeep
  internal/infrastructure/persistence/postgres/mapper/.gitkeep
  internal/infrastructure/storage/.gitkeep
Due: none

refactor: eliminar código deprecado y consolidar value objects
  documents/improvements/DEPRECATED-CODE.md
  documents/improvements/README.md
  documents/improvements/TECHNICAL-DEBT.md
  internal/bootstrap/bootstrap.go
  internal/domain/valueobject/mongo_document_id.go
  internal/domain/valueobject/mongo_document_id_test.go
  internal/domain/valueobject/question_id.go
  internal/domain/valueobject/question_id_test.go
  internal/domain/valueobject/score.go
  internal/domain/valueobject/score_test.go
  internal/domain/valueobject/time_spent.go
  internal/domain/valueobject/time_spent_test.go
Due: go-fmt, go-vet, golangci-lint
