Repository EduGoGroup/edugo-api-mobile: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, dockerfile-lint

go-fmt:
  name: go fmt
  entry: bash -c 'gofmt -w -s .'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'golangci-lint run --fast'
  language: system
  pass_filenames: false

dockerfile-lint:
  name: dockerfile lint
  entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "⚠️  hadolint not installed, skipping"; fi'
  language: system
  pass_filenames: false

refactor: eliminar código comentado extenso (DEBT-002)
  documents/improvements/README.md
  documents/improvements/TECHNICAL-DEBT.md
  internal/application/service/assessment_service.go
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository_test.go
  internal/infrastructure/persistence/postgres/repository/answer_repository_test.go
  internal/infrastructure/persistence/postgres/repository/assessment_repository_test.go
Due: go-fmt, go-vet, golangci-lint

feat!: eliminar endpoints legacy (BREAKING CHANGE)
  documents/improvements/DEPRECATED-CODE.md
  documents/improvements/README.md
  internal/infrastructure/http/handler/assessment_handler.go
  internal/infrastructure/http/handler/assessment_handler_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/handler/progress_handler_test.go
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

refactor: eliminar servicio legacy AssessmentService
  documents/improvements/DEPRECATED-CODE.md
  internal/application/service/assessment_service.go
  internal/application/service/assessment_service_test.go
  internal/application/service/stats_service_test.go
  internal/container/handlers.go
  internal/container/services.go
  internal/infrastructure/http/handler/assessment_handler.go
  internal/infrastructure/http/handler/assessment_handler_test.go
Due: go-fmt, go-vet, golangci-lint

feat: agregar autorización por rol a /stats/global (TODO-002)
  documents/improvements/TODO-ITEMS.md
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

docs: agregar requerimientos para api-admin (TODO-001)
  documents/improvements/API-ADMIN-REQUIREMENTS.md
  documents/improvements/README.md
Due: none

security: actualizar dependencias con vulnerabilidades
  go.mod
  go.sum
Due: go-mod-tidy

docs(sprint): crear plan de trabajo para mejoras y refactorizaciones
  sprint/current/readme.md
Due: none

docs: actualizar estado real de school_id en api-admin
  documents/improvements/API-ADMIN-REQUIREMENTS.md
Due: none

fix(material): obtener schoolID del contexto de autenticación (DEBT-003)
  documents/improvements/API-ADMIN-REQUIREMENTS.md
  go.mod
  go.sum
  internal/application/service/material_service.go
  internal/application/service/material_service_test.go
  internal/infrastructure/http/handler/benchmarks_test.go
  internal/infrastructure/http/handler/material_handler.go
  internal/infrastructure/http/handler/material_handler_test.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/handler/testing_helpers.go
  internal/infrastructure/http/middleware/auth.go
  sprint/current/readme.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

chore(deps): actualizar edugo-infrastructure/postgres a v0.13.0
  go.mod
  go.sum
Due: go-mod-tidy

test: eliminar tests unitarios redundantes con TODOs (DEBT-005)
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository_test.go
  internal/infrastructure/persistence/postgres/repository/answer_repository_test.go
  internal/infrastructure/persistence/postgres/repository/assessment_repository_test.go
Due: go-fmt, go-vet, golangci-lint

refactor(logger): estandarizar formato de logging (DEBT-006)
  internal/application/service/assessment_attempt_service.go
  internal/application/service/material_service.go
  internal/application/service/progress_service.go
  internal/application/service/stats_service.go
  internal/bootstrap/noop/publisher.go
  internal/bootstrap/noop/storage.go
  internal/infrastructure/messaging/rabbitmq/publisher.go
  internal/infrastructure/storage/s3/client.go
Due: go-fmt, go-vet, golangci-lint

docs(sprint): marcar Fase 1 como completada
  sprint/current/readme.md
Due: none

fix: resolver deuda técnica crítica - Fase 1 (DEBT-003, DEBT-005, DEBT-006) (#89)
  documents/improvements/API-ADMIN-REQUIREMENTS.md
  go.mod
  go.sum
  internal/application/service/assessment_attempt_service.go
  internal/application/service/material_service.go
  internal/application/service/material_service_test.go
  internal/application/service/progress_service.go
  internal/application/service/stats_service.go
  internal/bootstrap/noop/publisher.go
  internal/bootstrap/noop/storage.go
  internal/infrastructure/http/handler/benchmarks_test.go
  internal/infrastructure/http/handler/material_handler.go
  internal/infrastructure/http/handler/material_handler_test.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/handler/testing_helpers.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/messaging/rabbitmq/publisher.go
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository_test.go
  internal/infrastructure/persistence/postgres/repository/answer_repository_test.go
  internal/infrastructure/persistence/postgres/repository/assessment_repository_test.go
  internal/infrastructure/storage/s3/client.go
  sprint/current/readme.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat(progress): agregar bypass de admin para actualizar progreso de otros usuarios (TODO-003)
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/middleware/auth.go
Due: go-fmt, go-vet, golangci-lint

feat(middleware): agregar shortcuts de autorización por rol
  internal/infrastructure/http/middleware/remote_auth.go
Due: go-fmt, go-vet, golangci-lint

feat(router): aplicar middleware de autorización a endpoints sensibles
  internal/infrastructure/http/router/router.go
Due: go-fmt, go-vet, golangci-lint

docs(sprint): marcar Fase 2 como completada
  sprint/current/PROGRESS.md
  sprint/current/readme.md
Due: none

feat(auth): completar TODOs de autorización - Fase 2 (#90)
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/middleware/auth.go
  internal/infrastructure/http/middleware/remote_auth.go
  internal/infrastructure/http/router/router.go
  sprint/current/PROGRESS.md
  sprint/current/readme.md
Due: go-fmt, go-vet, golangci-lint

fix(material): usar URL real de S3 en evento MaterialUploaded (TODO-004)
  internal/application/service/material_service.go
Due: go-fmt, go-vet, golangci-lint

feat(material): implementar FindByIDWithVersions con query real (TODO-006)
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

feat(progress): publicar evento material.completed cuando progress=100% (TODO-007)
  internal/application/service/progress_service.go
  internal/application/service/progress_service_test.go
  internal/container/services.go
  internal/infrastructure/messaging/rabbitmq/events.go
Due: go-fmt, go-vet, golangci-lint

docs: documentar requerimientos para eventos de assessment (TODO-005)
  documents/improvements/ASSESSMENT-EVENTS-REQUIREMENTS.md
  sprint/current/fases/README.md
  sprint/current/fases/fase-1-deuda-tecnica.md
  sprint/current/fases/fase-2-autorizacion.md
  sprint/current/fases/fase-3-funcionalidad.md
  sprint/current/fases/fase-4-infraestructura.md
  sprint/current/fases/fase-5-legacy.md
  sprint/current/fases/fase-6-observabilidad.md
Due: none

fix: corregir tests y agregar SchoolID a evento material.completed
  internal/application/service/material_service_test.go
  internal/application/service/progress_service.go
  internal/application/service/progress_service_test.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/handler/progress_handler_test.go
  internal/infrastructure/messaging/rabbitmq/events.go
  sprint/current/fases/README.md
  sprint/current/fases/fase-3-funcionalidad.md
Due: go-fmt, go-vet, golangci-lint

feat: completar TODOs de Funcionalidad - Fase 3 (#91)
  documents/improvements/ASSESSMENT-EVENTS-REQUIREMENTS.md
  internal/application/service/material_service.go
  internal/application/service/material_service_test.go
  internal/application/service/progress_service.go
  internal/application/service/progress_service_test.go
  internal/container/services.go
  internal/infrastructure/http/handler/mocks_test.go
  internal/infrastructure/http/handler/progress_handler.go
  internal/infrastructure/http/handler/progress_handler_test.go
  internal/infrastructure/messaging/rabbitmq/events.go
  internal/infrastructure/persistence/postgres/repository/material_repository_impl.go
  sprint/current/fases/README.md
  sprint/current/fases/fase-1-deuda-tecnica.md
  sprint/current/fases/fase-2-autorizacion.md
  sprint/current/fases/fase-3-funcionalidad.md
  sprint/current/fases/fase-4-infraestructura.md
  sprint/current/fases/fase-5-legacy.md
  sprint/current/fases/fase-6-observabilidad.md
Due: go-fmt, go-vet, golangci-lint

feat(infra): implementar circuit breaker para RabbitMQ publisher (REF-004)
  config/config.yaml
  internal/bootstrap/bridge.go
  internal/config/config.go
  internal/infrastructure/messaging/rabbitmq/resilient_publisher.go
  internal/infrastructure/messaging/rabbitmq/resilient_publisher_test.go
Due: go-fmt, go-vet, golangci-lint

feat(health): implementar healthcheck detallado con checks individuales (REF-006)
  internal/infrastructure/http/handler/health_handler.go
  internal/infrastructure/http/handler/health_handler_test.go
Due: go-fmt, go-vet, golangci-lint

feat(bootstrap): implementar deshabilitación completa de recursos (TODO-008)
  internal/bootstrap/bridge.go
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/interfaces.go
Due: go-fmt, go-vet, golangci-lint

fix: corregir issues reportados en PR review
  internal/bootstrap/bridge.go
  internal/infrastructure/http/handler/health_handler.go
Due: go-fmt, go-vet, golangci-lint

feat(infra): refactorizaciones de infraestructura (circuit breaker, healthcheck) (#92)
  config/config.yaml
  internal/bootstrap/bridge.go
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/interfaces.go
  internal/config/config.go
  internal/infrastructure/http/handler/health_handler.go
  internal/infrastructure/http/handler/health_handler_test.go
  internal/infrastructure/messaging/rabbitmq/resilient_publisher.go
  internal/infrastructure/messaging/rabbitmq/resilient_publisher_test.go
Due: go-fmt, go-vet, golangci-lint

docs: documentar sistema legacy de assessments y plan de consolidacion (DEBT-004)
  docs/technical/ASSESSMENT_CONSOLIDATION.md
  internal/container/factory.go
  internal/container/repositories.go
  internal/domain/repository/assessment_repository.go
  sprint/current/readme.md
Due: go-fmt, go-vet, golangci-lint

docs(sprint): actualizar readme con Fase 5 completada
  sprint/current/readme.md
Due: none

refactor!: migrar StatsService de MongoDB a PostgreSQL (BREAKING CHANGE)
  docs/technical/ASSESSMENT_CONSOLIDATION.md
  internal/application/service/stats_service.go
  internal/container/factory.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repositories/assessment_repository.go
  internal/domain/repositories/attempt_repository.go
  internal/domain/repository/assessment_repository.go
  internal/domain/repository/assessment_types.go
  internal/infrastructure/persistence/mock/mongodb/stubs.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
  internal/infrastructure/persistence/mongodb/repository/assessment_repository_impl.go
  internal/infrastructure/persistence/mongodb/repository/assessment_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
Due: go-fmt, go-vet, golangci-lint

docs: limpieza de código legacy y plan de consolidación (Fase 5) (#93)
  internal/application/service/stats_service.go
  internal/container/factory.go
  internal/container/repositories.go
  internal/container/services.go
  internal/domain/repositories/assessment_repository.go
  internal/domain/repositories/attempt_repository.go
  internal/domain/repository/assessment_repository.go
  internal/domain/repository/assessment_types.go
  internal/infrastructure/persistence/mock/mongodb/stubs.go
  internal/infrastructure/persistence/mock/postgres/stubs.go
  internal/infrastructure/persistence/mongodb/repository/assessment_repository_impl.go
  internal/infrastructure/persistence/mongodb/repository/assessment_repository_impl_test.go
  internal/infrastructure/persistence/postgres/repository/attempt_repository.go
  sprint/current/readme.md
Due: go-fmt, go-vet, golangci-lint

feat(observability): agregar middleware de Request ID, logging y métricas Prometheus
  go.mod
  go.sum
  internal/infrastructure/http/middleware/logging.go
  internal/infrastructure/http/middleware/metrics.go
  internal/infrastructure/http/middleware/request_id.go
  internal/infrastructure/http/middleware/request_id_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/messaging/rabbitmq/publisher.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

docs(sprint): marcar Fase 6 como completada - Sprint finalizado
  sprint/current/readme.md
Due: none

feat(observability): mejoras de observabilidad (Request ID, logging, métricas Prometheus) (#94)
  go.mod
  go.sum
  internal/infrastructure/http/middleware/logging.go
  internal/infrastructure/http/middleware/metrics.go
  internal/infrastructure/http/middleware/request_id.go
  internal/infrastructure/http/middleware/request_id_test.go
  internal/infrastructure/http/router/router.go
  internal/infrastructure/messaging/rabbitmq/publisher.go
  sprint/current/readme.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint

feat(mongodb): homologar colecciones assessment y summary
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository.go
  internal/infrastructure/persistence/mongodb/repository/assessment_document_repository_integration_test.go
  internal/infrastructure/persistence/mongodb/repository/summary_repository_impl.go
Due: go-fmt, go-vet, golangci-lint

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  go-vet: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  go-mod-tidy: any of: ^go\.(mod|sum)$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  golangci-lint: any of: \.go$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

  dockerfile-lint: any of: ^Dockerfile$, but not: (?x)^(
    vendor/|
    docs/swagger/.*\.json$|
    \.git/|
    \.idea/|
    coverage/
)$

